<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="ServiceName" value="NeIGeo Service"/>
    <add key="ServiceDisplayName" value="NeIGeoService"/>
    <add key="ServiceDescription" value="Geodesical calculations"/>
  </appSettings>
</configuration>
